@model IEnumerable<PlayOnProject.Models.Order>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="offset-1 col-10">
        <div class="d-flex justify-content-end mb-2">
            @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-sm btn-primary" })
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th> Product Name</th>
                    <th>Order Date </th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="tr_d_@item.OrderId">
                        <td>@item.Customer.CustomerName </td>
                        <td>@item.Product.ProductName </td>
                        <td>@item.OrderDate.ToString("yyyy-MMM-dd") </td>
                        <td>@item.Price.ToString("0.00")</td>
                        <td>@item.Quantity </td>

                        <td>
                            <a href="/Sells/Edit/@item.OrderId" class="btn btn-sm btn-success">Edit</a>
                            <button type="button" data-pk="@item.OrderId" class="btn btn-danger btn-sm d-del">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(".d-del").click(function () {
            var id = $(this).data('pk');

            if (confirm("Are you sure to delete?")) {
                $.ajax({
                    type: 'post',
                    url: '/Sells/Delete/' + id,
                    dataType: 'json',
                    success: r => {

                        console.log(r)
                        $("#tr_d_" + id).remove();

                    }
                })
            }
        })
    </script>
}
